<section  class="container" style="background-color: rgba(255,255,255,0.9); height: 748px; overflow: auto;">
  <form style="margin-top: 30px;" ng-submit="gardensNew.create()">
    <div class="twelve columns">
      <input type="hidden" name="user_id" ng-model="gardensNew.garden.user_id">
      <label>Title your garden: </label><br>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px; width: 400px;" type="text" name="title" placeholder="Title" ng-model="gardensNew.garden.title"><br>
      <label>Tell us about your garden design: </label><br>
      <textarea type="text" name="description" placeholder="Description" ng-model="gardensNew.garden.description" style="width: 800px; height: 500px;"></textarea>
    </div>
    <button class="update">Next</button>
  </form>
</section>
