<section ng-controller="GardensShowController as gardensShow">

  <div class="col-md-3">
    <div class="gardenBox" style="max-height: 300px">
      <h3>Plants</h3>
      <hr>
      <ul>
        <li ng-repeat="item in gardensShow.garden.items | filter : 'Plant' : comparator : 'item_type'"><a ui-sref="itemsShow({ id: item.id })"><img style="width: 100px;" ng-src="{{item.image}}"><h6>{{ item.name }}  {{ item.price }}</h6></a></li>
        <hr>
      </ul>
    </div>
    <div class="gardenBox" style="max-height: 300px">
      <h3>Materials</h3>
      <hr>
      <ul>
        <li ng-repeat="item in gardensShow.garden.items | filter : 'Material' : comparator : 'item_type'"><a ui-sref="itemsShow({ id: item.id })"><img style="width: 100px;" ng-src="{{item.image}}"><h6>{{ item.name }}  {{ item.price }}</h6></a> </li>
        <hr>
      </ul>
    </div>
  </div>


  <div class="gardenBox col-md-6">
    <h1>{{ gardensShow.garden.title }}</h1>


    <!-- <div ng-controller="MyCarouselController" style="border: solid blue 5px; height: 200px">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{slide.id}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </div>
      </div>
    </div> -->



    <img class="mainImg" style="width: 500px;" ng-src="{{gardensShow.garden.images[0].url}}" alt="Description" />
    <img class="circle" style="float: left; width: 50px; height: 50px;" ng-src="{{gardensShow.garden.user.image}}"><h4 style="display: inline; float: left;"><a ui-sref="usersShow({id:gardensShow.garden.user.id})">{{ gardensShow.garden.user.username }}</a></h4> <h4 style="display: inline; float: right;">Posted on: {{gardensShow.garden.date}}</h4>
    <br>
    <br>
    <hr>

    <p>About: {{ gardensShow.garden.description }}</p>
    <button ng-if="gardensShow.isCurrentUser()"><a ui-sref="gardensEdit({ id: gardensShow.garden.id })" class="button">Edit</a></button>
    <button ng-if="gardensShow.isCurrentUser()" ng-click="gardensShow.deleteGarden()">Delete</button>
    <button ng-click="gardensShow.showDesign(gardensShow.garden.design.id)">View Design</button>
  </div>
</section>


<div class="gardenBox col-md-3">
  <div ng-controller="CommentsNewController as commentsNew">
    <h2>Comments</h2>
    <hr>
    <form ng-submit="commentsNew.create()">
      <input type="hidden" name="user_id" ng-model="commentsNew.comment.user_id">
      <input type="hidden" name="garden_id" ng-model="commentsNew.comment.garden_id">
      <input type="text" name="body" placeholder="Post a comment..." ng-model="commentsNew.comment.body" class="u-full-width">
      <label for="rating">Rating (0-5) </label>
      <input type="number" placeholder="0"name="rating" min="0" max="5" ng-model="commentsNew.comment.rating" class="u-full-width">
      <button>Submit</button>
    </form>
    <hr>
  </div>
  <ul ng-controller="GardensShowController as gardensShow">
    <li ng-repeat="comment in gardensShow.garden.comments"><h6>{{ comment.body }} <strong>{{ comment.rating }}/5</strong></h6> <p style="font-size: 14px;"><em> Posted by: {{ comment.user.username }} On: {{comment.date}} </em></p><hr></li>
  </ul>
</div>
