<section class="row">
  <form ng-submit="gardensNew.create()">
    <div class="twelve columns">
      <input type="hidden" name="user_id" ng-model="gardensNew.garden.user_id">
      <label>Title your garden: </label><br>
      <input type="text" name="title" placeholder="Title" ng-model="gardensNew.garden.title" style="width: 400px;"><br>
      <label>Tell us about your garden design: </label><br>
      <textarea type="text" name="description" placeholder="Description" ng-model="gardensNew.garden.description" style="width: 800px; height: 500px;"></textarea>
    </div>
    <button class="update">Next</button>
  </form>
</section>
