<section  class="container" style="background-color: rgba(255,255,255,0.9); height: 748px; overflow: auto;">
  <h2>Edit this Garden's Info</h2>
  <form ng-submit="gardensEdit.update()">
    <div class="twelve columns">
      <label>Title</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" name="title" placeholder="Title" ng-model="gardensEdit.garden.title" class="u-full-width">
      <label>Description</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" name="description" placeholder="Description" ng-model="gardensEdit.garden.description" class="u-full-width">
    </div>
    <button class="update" style="margin-top: 20px;">Update</button>
  </form>
</section>

<section class="row">

  <h2>Edit this Garden's Images</h2>
  <ul>
    <li ng-repeat="image in gardensEdit.garden.images"> <button class="deleteLong" ng-click="gardensEdit.deleteImage(image)">Delete Image</button>  <img style="width: 500px" ng-src="{{image.url}}"/></li>
  </ul>
</section>


<button class="edit" style="margin-bottom: 20px;" ui-sref="imagesNew({id: gardensEdit.garden.id})">Add Image</button>
