
<section  class="container" style="background-color: rgba(255,255,255,0.5); padding-right: 50px; height: 100vh; overflow: auto;">
    <ul>
      <li class="col-md-4" ng-repeat="garden in gardensIndex.all | orderBy: 'id':true" style="margin-top: 50px;padding: 10px;">
        <div class="indexBox col-md-12" style="padding:15px;">
          <img class="circle" style="width: 60px; height: 60px; float:left; " ng-src="{{garden.user.image}}">
          <a ui-sref="usersShow({ id: garden.user.id})"><h4 style="margin-top: 22px; float:left;">{{ garden.user.username }}</h4></a>
          <br>
          <a ui-sref="gardensShow({ id: garden.id })">
            <br><h2 style="margin-top: 30px;">{{ garden.title }}</h2>

            <img class="mainImg" style="width: 270px;" ng-src="{{garden.images[0].url}}" alt="Description" />
            <br>
          </a>
          <h4>Likes: {{garden.likes.length}}</h4> <button ng-if="gardensIndex.hasLiked(garden)" class="update" ng-click="gardensIndex.like(garden)">Like</button><button ng-if="!gardensIndex.hasLiked(garden)" class="update" ng-click="gardensIndex.unlike(garden)">Unlike</button>

        </div>
      </li>
    </ul>
</section>
