<section class="row" ng-controller="ItemsNewController as itemsNew">

  <h2>Add a new Item</h2>
  <form ng-submit="itemsNew.create()">
    <div class="twelve columns">
      <label>Item Type</label>
      <select ng-model="itemsNew.item.item_type">
        <option value="Plant">Plant</option>
        <option ng-model="itemsNew.item.item_type" value="Material">Material</option>
      </select>

      <!-- <input type="hidden" name="garden_id" ng-model="itemsNew.item.garden_id"> -->

      <label>Name</label>
      <input type="text" name="name" placeholder="Item Name" ng-model="itemsNew.item.name" class="u-full-width">

      <label>Description</label>
      <input type="text" name="description" placeholder="Description" ng-model="itemsNew.item.description" class="u-full-width">

      <label>Price</label>
      <input type="text" name="price" placeholder="£12.99" ng-model="itemsNew.item.price" class="u-full-width">

      <label>Image</label>
      <input type="text" name="image" placeholder="Image Url" ng-model="itemsNew.item.image" class="u-full-width">

    </div>
    <button>Add Item</button>
  </form>
  <button ui-sref="gardensIndex">Finish</button>

  <h2>Search Amazon for your Item:</h2>

  <form ng-submit="itemsNew.searchAmazon()">
    <input type="text" name="searchTerm" ng-model="itemsNew.searchTerm">
    <button>Search Amazon</button>
  </form>

  <h2 ng-if="itemsNew.displayedResults.length > 0">Search Results:</h2>

  <ul>
    <div class="col-md-6"  ng-repeat="item in itemsNew.displayedResults">
      <li class="itemBox col-md-12" style="height: 100px; padding: 10px;">

          <div style="background-image: url({{item.image}});" alt="Description"></div>
          <button style="float: right;" ng-click="itemsNew.createNew(item)">Add</button>
          <select ng-model="itemsNew.item_type">
            <option value="Plant">Plant</option>
            <option ng-model="itemsNew.item_type" value="Material">Material</option>
          </select>
          <h5>{{ item.price }}</h5>
          <h3 style="margin-top: 5px;">{{ item.name }}</h3>
      </li>
    </div>
  </ul>

</section>





<h2>Or Add an Existing Item:</h2>

<section ng-controller="ItemsIndexController as itemsIndex">
  <ul>
    <div class="col-md-6"  ng-repeat="item in itemsIndex.all">
      <li class="itemBox col-md-12" style="height: 100px; padding: 10px;">

        <a ui-sref="itemsShow({ id: item.id })">
          <div style="background-image: url({{item.image}});" alt="Description"></div>  </a>
          <button style="float: right;" ng-click="itemsIndex.addItem(item)">Add</button>
          <a ui-sref="itemsShow({ id: item.id })">
            <h5>{{ item.price }}</h5>
            <h3 style="margin-top: 5px;">{{ item.name }}</h3>
          </a>
        </li>
      </div>
    </ul>
  </section>
