<section  class="container" style="background-color: rgba(255,255,255,0.5); height: 100vh; overflow: auto;">
  <div id="profileContainer" style="margin-top: 110px;" class="col-md-12">
        <h2>{{ itemsShow.item.name }}</h2>
        <h4>{{ itemsShow.item.price }}</h4>
        <img class="blueBorder" style="width: 500px; margin-top: -110px;" ng-src="{{itemsShow.item.image}}" alt="Description" />
      <br>
      <p>About: {{ itemsShow.item.description }}</p>
      <p>This item appears in the following gardens:
        <ul>
          <li ng-repeat="garden in itemsShow.item.gardens"><a ui-sref="gardensShow({ id: garden.id })">{{ garden.title }}</a>  </li>
        </ul>
      </p>

    <!-- <a ui-sref="itemsEdit({ id: itemsShow.item.id })" class="button">Edit</a> -->
    <!-- <button ng-click="itemsShow.deleteItem()">Delete</button> -->
</div>
</section>
