<section  class="container" style="background-color: rgba(255,255,255,0.9); height: 748px; overflow: auto;">
  <form ng-submit="imagesNew.create()">
    <div class="col-md-12">
      <h2>Add some Images to your Garden!</h2>
      <p>Time to show off your creativity to everyone! Upload some images to show off your garden design idea below. You can add as many as you like for each garden you upload. Why not share your initial plans and garden design drawings now and later on, update with some photos of your garden once you've implemented your awesome ideas? </p>
      <input type="hidden" name="garden_id" ng-model="imagesNew.image.garden_id">
      <label>Url</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px; width: 400px;" type="text" name="url" placeholder="Image Url" ng-model="imagesNew.image.url">
      <button class="edit" style="width: 190px;">Upload Image</button>

  </form>
  <button class="update" ng-click="imagesNew.addDesign()" style="float: right; margin-right: 0px;">Next</button>
</div>
<div class="col-md-4" ng-repeat="image in imagesNew.gardenImages">
  <img class="col-md-12"  ng-src="{{image.url}}" style="padding: 15px;">
</div>
</section>
