<div class="splash" id="register">
  <div id="titleHolder">
    <h1 class="mainTitle">myGarden</h1>
    <form style="text-align: center;" novalidate ng-submit="register.submit()">
  <div >
  <div style="padding: 10px;">
    <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div style="padding: 10px;">
    <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div style="padding: 10px;">
    <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div style="padding: 10px;">
    <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="password" placeholder="Confirm Password" ng-model="register.user.password_confirmation">
  </div>

  <button style="margin: 20px 0px 300px 0px;" class="splashButton">Register</button>
</form>
</div>
</div>
