<section class="row">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="username" placeholder="Username" ng-model="usersEdit.user.username" class="u-full-width">
      <label>Email address</label>
      <input type="text" name="email" placeholder="Email" ng-model="usersEdit.user.email" class="u-full-width">
      <label>Profile Image</label>
      <input type="text" name="image" placeholder="Image url" ng-model="usersEdit.user.image" class="u-full-width">
    </div>
    <button class="update">Update</button>
  </form>
</section>
