<section  class="container" style="background-color: rgba(255,255,255,0.9); height: 748px;">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns" style="margin-top: 250px;">
      <label>Username</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" name="username" placeholder="Username" ng-model="usersEdit.user.username" class="u-full-width">
      <label>Email address</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" name="email" placeholder="Email" ng-model="usersEdit.user.email" class="u-full-width">
      <label>Profile Image</label>
      <input class="gdnInput" style="border-radius: 10px; padding: 5px;" type="text" name="image" placeholder="Image url" ng-model="usersEdit.user.image" class="u-full-width">
    </div>
    <button class="update" style="margin-top: 50px;">Update</button>
  </form>
</section>
