
.gardenBox {
    padding: 30px;
    border: 3px solid grey;
    list-style-type: none;
    height: 600px;
    max-height: 600px;
    text-align: center;
    margin-bottom: 30px;
    overflow: auto;
}

#myNav {
  margin-bottom: 40px;
}

.mainImg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.circle {
    border-radius: 50%;
    // margin-top: -15px;
    // float: left;
}

li {
  list-style-type: none;
}


.grid > li {
  width: 49px;
  height: 49px;
  border: 1px solid black;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: -8px;

}

.grid {
  max-width: 1060px;
}

.grass {
  background-image: url('http://www.freetexturesdownload.com/image/Grass-Free-Textures-15015.jpg');
  width: 50px;
  height: 50px;
}

.soil {
  background-image: url('http://previewcf.turbosquid.com/Preview/Content_2009_07_13__19_04_42/grnd19.png41d4d797-ce09-4a5a-b1e5-8db383f31d3fLarger.jpg');
  width: 50px;
  height: 50px;
}

.paving {
  background-image: url('http://catalystarchitecture.com/pdc/YC_100_CD/09_base_plans/CADD_Files_civil_as-built/Sitework.Paving%20-%20Surfacing.Pavers.Terra%20Cotta.bump.jpg');
  width: 50px;
  height: 50px;
}
