
.gardenBox {
  padding: 5px 30px 5px 30px;
  border: 3px solid grey;
  list-style-type: none;
  margin-left: 0;
  height: 700px;
  max-height: 700px;
  text-align: center;
  margin-bottom: 30px;
  overflow: auto;
  ul {
    list-style:none;
    padding-left:0;
  }
}

.indexBox {
  padding: 30px;
  border: 3px solid grey;
  list-style-type: none;
  height: 400px;
  max-height: 600px;
  text-align: center;
  margin-bottom: 30px;
  overflow: auto;
  ul {
    list-style:none;
    padding-left:0;
  }
  img{
    height: 195px;
  }
}

.itemBox {
  padding: 10px;
  ul { list-style:none;
    padding-left:0;
  }
  border: 3px solid grey;
  list-style-type: none;
  height: 100px;
  max-height: 100px;
  text-align: center;
  margin-bottom: 30px;
  overflow: auto;
  div {
    float: left;
    background-size: cover;
    margin: 0 auto;
    width: 75px;
    height:75px;
  }
}

#myNav {
  margin-bottom: 15px;
}

.mainImg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.circle {
  border-radius: 50%;
  margin-right: 15px;
  // margin-top: -15px;
  // float: left;
}

li {
  list-style-type: none;
}




.indexGrid > li {
  width: 14px;
  height: 14px;
  // border: 1px solid black;
  display: inline-block;
  line-height: 5px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  img {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  // margin-bottom: -30px;

  // margin-bottom: -8px;

}

.indexGrid {
  font-size: 0;
  padding: 0px;
  margin: 0px;
  max-width: 360px;
  max-height: 100px;
}


//----------------design grid---------------------------------------------------------------------------------------

.grid > li {
  width: 49px;
  word-break: break-all;
  overflow: hidden;
  height: 49px;
  border: 1px solid black;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: -8px;
  img {
    width: 100%;
    height: 100%;
    overflow: hidden;

  }

}

.grid {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  max-width: 1000px;
}






/// classes for garden design textures-------------------------------------------------------------------------------------------

.grass {
  background-image: url('http://www.freetexturesdownload.com/image/Grass-Free-Textures-15015.jpg');
  width: 100%;
  height: 100%;
}

.soil {
  background-image: url('http://previewcf.turbosquid.com/Preview/Content_2009_07_13__19_04_42/grnd19.png41d4d797-ce09-4a5a-b1e5-8db383f31d3fLarger.jpg');
  width: 100%;
  height: 100%;
}

.water {
  background-image: url('https://s-media-cache-ak0.pinimg.com/564x/0e/98/9b/0e989bc5eae0aa4382e6ab07300b7b04.jpg');
  width: 100%;
  height: 100%;
}

.paving {
  background-image: url('http://catalystarchitecture.com/pdc/YC_100_CD/09_base_plans/CADD_Files_civil_as-built/Sitework.Paving%20-%20Surfacing.Pavers.Terra%20Cotta.bump.jpg');
  width: 100%;
  height: 100%;
}

.decking {
  background-image: url('https://www.sketchuptextureclub.com/public/texture_m/0075-teak-wood-decking-boat-texture-seamless.jpg');
  width: 100%;
  height: 100%;
}

.stones {
  background-image: url('http://www.freetexturesdownload.com/image/Stones-Free-Textures-1451.jpg');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.big {
  &:before{
    content: '';
  width: 300%;
  height: 300%;
  position: absolute;
  top: -100%;
  left: -100%;
  }
}

.shrub {
  background-image: url('http://www.hslandscaping.com/images/serv-shrub.png');
  background-size: contain;
  width: 100%;
  height: 100%;
}


.tree {
  background-image: url('http://vignette1.wikia.nocookie.net/farmville2/images/5/5b/Willow_Tree.png/revision/latest?cb=20121011130840');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.flowers {
  background-image: url('http://roelse.us/rlc/center/flower5.png');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.hedge {

  background-image: url('http://vignette2.wikia.nocookie.net/battlenations/images/f/fd/Deco-ShortHedge.png/revision/latest?cb=20121016041944');
  background-size: contain;
  width: 100%;
  height: 100%;
}

.flowerShrub {
  background-image: url('http://vterrain.org/Locations/za/fynbos_01_256.png');
  background-size: contain;
  width: 100%;
  height: 100%;
}
//---------------------------------------------------------------------------------------------------------------------------
