<h1>Create a new Garden Design!</h1>

<div class="col-md-1">
  <button ng-click="currentChoice = 1">Textures</button>
  <button ng-click="currentChoice = 2">Plants</button>

  <div ng-show="currentChoice === 1">
    <div style="height: 50px; width: 50px; display: block;" class="grass" ng-click="designsNew.setClass('grass')">
    </div>
    <h6>Turf</h6>
    <div style="height: 50px; width: 50px; display: block;" class="soil" ng-click="designsNew.setClass('soil')">
    </div>
    <h6>Soil</h6>
    <div style="height: 50px; width: 50px; display: block;" class="paving" ng-click="designsNew.setClass('paving')">
    </div>
    <h6>Paving</h6>
    <div style="height: 50px; width: 50px; display: block;" class="decking" ng-click="designsNew.setClass('decking')">
    </div>
    <h6>Decking</h6>
    <div style="height: 50px; width: 50px; display: block;" class="water" ng-click="designsNew.setClass('water')">
    </div>
    <h6>Water</h6>
    <div style="height: 50px; width: 50px; display: block;" class="stones" ng-click="designsNew.setClass('stones')">
    </div>
    <h6>Stones</h6>
  </div>

  <div ng-show="currentChoice === 2">
    <div style="height: 50px; width: 50px; display: block;" class="shrub" ng-click="designsNew.setPng('http://www.hslandscaping.com/images/serv-shrub.png')">
    </div>
    <h6>Shrub</h6>
    <div style="height: 50px; width: 50px; display: block;" class="tree" ng-click="designsNew.setPng('http://vignette1.wikia.nocookie.net/farmville2/images/5/5b/Willow_Tree.png/revision/latest?cb=20121011130840')">
    </div>
    <h6>Tree</h6>
    <div style="height: 50px; width: 50px; display: block;" class="flowers" ng-click="designsNew.setPng('http://roelse.us/rlc/center/flower5.png')">
    </div>
    <h6>Flowers</h6>
    <div style="height: 50px; width: 50px; display: block;" class="hedge" ng-click="designsNew.setPng('http://vignette2.wikia.nocookie.net/battlenations/images/f/fd/Deco-ShortHedge.png/revision/latest?cb=20121016041944')">
    </div>
    <h6>Hedge</h6>
    <div style="height: 50px; width: 50px; display: block;" class="flowerShrub" ng-click="designsNew.setPng('http://vterrain.org/Locations/za/fynbos_01_256.png')">
    </div>
    <h6>Flowering Shrub</h6>
  </div>

</div>


<ol id="designGrid" class="grid col-md-11">
  <li ng-repeat="i in designsNew.myArr track by $index" id="{{$index}}" data-image="http://downloads2.esri.com/support/TechArticles/blank256.png" class="grass" ng-click="designsNew.setTile($index)"></li>
</ol>

<button ng-click="designsNew.create()">Next</button>
