<h1>Create a new Garden Design!</h1>

<div class="col-md-1">
  <div class="grass" ng-click="designsNew.setClass('grass')">
  </div>
  <h6>Turf</h6>
  <div class="soil" ng-click="designsNew.setClass('soil')">
  </div>
  <h6>Soil</h6>
  <div class="paving" ng-click="designsNew.setClass('paving')">
  </div>
  <h6>Paving</h6>
</div>
<ol id="designGrid" class="grid col-md-11">
  <li ng-repeat="i in designsNew.myArr track by $index" id="{{$index}}" class="grass" ng-click="designsNew.setTile($index)"></li>
</ol>
