<section  class="container" style="background-color: rgba(255,255,255,0.9); height: 100vh; overflow: auto;">

  <form ng-submit="itemsEdit.update()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="Title" ng-model="gardensEdit.garden.title" class="u-full-width">
      <label>Description</label>
      <input type="text" name="description" placeholder="Description" ng-model="gardensEdit.garden.description" class="u-full-width">
    </div>
    <button>Update</button>
  </form>
</section>
